body {
 color:#AD4AA5;
}
/*  HEADER   */

header {
	background-color:#DB8FC0;
	min-height:280px;
	/*background:url(../img/header.jpg) 0 0 no-repeat;*/
	background-size:100%;
	
}

h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	color:#801077;
}

.siteheader {
	text-align:center;
	font-size:1.8em;
	font-weight:bold;
	color:#801077;
	margin-bottom:10px;
}

.sitedesc {
	font-weight:bold;
	text-align:center;
}

.home-login-wrapper {
	position:relative;
	height:275px;
	margin-top:20px;
}


.home-login {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.home-login > div > div{
	background:#fff;
	box-shadow:0 1px 3px #888;
	padding:20px;
	overflow:hidden;
	margin:0 auto;
}

.home-login #login_input {
	font-size:1.5em;
	height:47px;
	color:#AD4AA5;
	text-align:center;
}

.home-login #home-login-btn {
	font-size: 1.3em;
	height: 47px;
	margin:0;
	padding: 12px 20px;
	width: 100%;
}

/*  NAVIGATION  */

.top-bar {
	z-index:100;
}

.top-bar.expanded .title-area {
	background:#b96da0;
}

.top-bar, .top-bar-section ul, .top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover {
	background:#ca7eb0;
}

.top-bar.expanded .toggle-topbar a {
	color:white;
}

.top-bar.expanded .toggle-topbar a span {
-webkit-box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
}

@media screen and (min-width:940px) {
	 .top-bar-section ul, .top-bar, .top-bar-section li a:not(.button), .top-bar-section li a:not(.button):hover {
		background:#DB8FC0;
	}

	
}

@media screen and (min-width:720px) {
	.home-login-wrapper {
		height:215px;
	}
}

.top-bar-section ul {
	padding-right:20px;
}

.top-bar-section li a:not(.button):hover {
	color:#ffea19;
}

/*  CONTENT  */
.content-container {
	margin-top:120px;
}

/*  FOOTER  */

footer {
	background:#DB8FC0;
	min-height:200px;
}

.centered {
	margin:0 auto;
}